<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<!--SCRIP-->
<div class="chat-panel card card-default">
  <div class="card-header">
    <i class="fa fa-buysellads fa-fw"></i>
   Compra cartera
  </div>
  <!-- /.panel-heading -->
  <div class="card-body">

        <app-oferta-inicial></app-oferta-inicial>
        <app-detalle-oferta></app-detalle-oferta>
        <app-simulador></app-simulador>
        <app-encuesta></app-encuesta>
        
        <div class="row">
          <div class="col-12">
            <div class="card border-primary mb-3">
              <app-validacion> </app-validacion>
              <app-texto-validacion></app-texto-validacion>      
            </div>  
          </div>
        </div>
        
        <app-cierre></app-cierre>
  </div>

</div>

