<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<div class="row justify-content-center">
	<div class="col-6">
		<div class="card border-primary mb-3" >
	  		<div class="card-header">
	  			Detalle Oferta
	  		</div>
			<div class="card-body text-dark justify-content-center">
			    <h5 class="card-title"></h5>
			    	<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">TASA INTERES</th>
					      <th scope="col">TASA EFECTIVA ANUAL</th>
					      <th scope="col">AHORRO ANUAL APROX</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>0,90%</td>
					      <td>11,35%</td>
					      <td>$99.450</td>
					    </tr>
					    <tr>
					      <td>0,95%</td>
					      <td>12,01%</td>
					      <td>$96.200</td>
					    </tr>
					    <tr>
					      <td>1,03%</td>
					      <td>13,08%</td>
					      <td>$91.000</td>
					    </tr>
					    <tr>
					      <td>1,05%</td>
					      <td>13,35%</td>
					      <td>$89.700</td>
					    </tr>
					    <tr>
					      <td>1,10%</td>
					      <td>14,03%</td>
					      <td>$86.450</td>
					    </tr>
					    <tr>
					      <td>1,16%</td>
					      <td>16,21%</td>
					      <td>$82.550</td>
					    </tr>
					    <tr>
					      <td>1,20%</td>
					      <td>15,38%</td>
					      <td>$79.950</td>
					    </tr>
					    <tr>
					      <td>1,35%</td>
					      <td>17,46%</td>
					      <td>$70.200</td>
					    </tr>
					  </tbody>
					</table>
			    <p>
			    	Sr(a) a cuánto asciende su deuda actual?
				</p>
				<ol>
					<li>
						Opción 1: (Ahorro Cliente Anual = valor deuda/1 millón * ahorro).
					</li>
					<li>
						Opción 2: simulación (pregunta alterna: usted cuanto desea pagar mensual).
					</li>

				</ol>
						
						
				
				<p>
					Sr(a) si compramos esta deuda con la tasa ofrecida usted se ahorraría (Ahorro total cliente).
				</p>
				<ol>
					<li>
						Sí está interesado: Indicar el proceso
					</li>
					<li>
						No está interesado: ir al MANEJO DE OBJECIONES COMPRA CARTERA
					</li>
				</ol>	
			</div>
		</div>
	</div>
</div>

