<div class="card border-primary ms-12 mt-2" >
  <div class="card-header" align="center">
    <div class="col col-sm-12">
      Diligenciar en la planilla el plazo indicado por el cliente.
    </div>
  </div>
  <div class="card-body text-dark">
    <p class="card-text">
      Sr(a) <strong> CARLOS EMILIO PONCE CABALLERO</strong> también es importante recordarle que al momento de hacer este rediferido, si usted tenía alguna tasa especial en alguna UTILIZACIÓN de su tarjeta de crédito esta será eliminada. Todo su saldo quedará a la tasa vigente del día, que es 1,58%
    </p>
    <p class="card-text">
      De acuerdo Sr(a) <strong> CARLOS EMILIO PONCE CABALLERO</strong>, le confirmo que en el transcurso de los siguientes 3 días hábiles verá reflejado el rediferido en su tarjeta; esta solicitud se toma en este momento para la tarjeta de crédito terminada en _ _ _ _ a _ _ cuotas y es un proceso que después de tomado no es posible reversar. Recuerde que su próximo valor a pagar es ______ aproximadamente.
    </p>
  </div>
  <hr>
  <div class="card-header" align="center">
    <div class="col col-sm-12">
      <strong>OFERTA OBLIGATORIA</strong>
    </div>
  </div>
  <div align="center" class="card-body text-dark">
    <p class="card-text">
      Sr(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> adicional al rediferido aplicado a su tarjeta de crédito le gustaría que todas sus compras nacionales se difieran a un plazo automático que usted elija desde 12 hasta 36 meses? Este beneficio le va permitir mantener organizado su flujo de caja con anticipación.
    </p>
    <div class="col col-sm-4 pt-2">
      <p class="card-title"><b>¿Está usted de acuerdo?</b></p>
      <select [(ngModel)]="continue_tree" name="continue_tree" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
        <option value=0>¿Esta Interesado?</option>
        <option value=1>Si</option>
        <option value=2>No</option>
      </select>
    </div>
  </div>
</div>
