<div class="card border-primary ms-12 mt-2" >
  <div class="card-header" align="center">
    <div class="col col-sm-12">
      {{message}}
      Diligenciar en la planilla el plazo indicado por el cliente.
    </div>
  </div>
  <div class="card-body text-dark">
    <p class="card-text">
      Sr(a) <strong> CARLOS EMILIO PONCE CABALLERO</strong> también es importante recordarle que al momento de hacer este rediferido, si usted tenía alguna tasa especial en alguna UTILIZACIÓN de su tarjeta de crédito esta será eliminada. Todo su saldo quedará a la tasa vigente del día, que es 1,58%
    </p>
    <p class="card-text">
      De acuerdo Sr(a) <strong> CARLOS EMILIO PONCE CABALLERO</strong>, le confirmo que en el transcurso de los siguientes 3 días hábiles verá reflejado el rediferido en su tarjeta; esta solicitud se toma en este momento para la tarjeta de crédito terminada en _ _ _ _ a _ _ cuotas y es un proceso que después de tomado no es posible reversar. Recuerde que su próximo valor a pagar es ______ aproximadamente.
    </p>
  </div>
  <hr>
  <div class="card-header" align="center">
    <div class="col col-sm-12">
      <strong>OFERTA OBLIGATORIA</strong>
    </div>
  </div>
  <div align="center" class="card-body text-dark">
    <p class="card-text">
      Sr(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> adicional al rediferido aplicado a su tarjeta de crédito le gustaría que todas sus compras nacionales se difieran a un plazo automático que usted elija desde 12 hasta 36 meses? Este beneficio le va permitir mantener organizado su flujo de caja con anticipación.
    </p>
    <div class="col col-sm-4 pt-2">
      <p class="card-title"><b>¿Está usted de acuerdo?</b></p>
      <select [(ngModel)]="acuerdo" name="continue_tree" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
        <option value=0>¿Esta Interesado?</option>
        <option value=1>Si</option>
        <option value=2>No</option>
      </select>
    </div>
  </div>
</div>

<!--ACUERDO CLIENTE-->
<!--SIN INTERES-->
<div *ngIf="acuerdo != 1" class="card border-primary ms-12 mt-2" >
  <div class="card-header" align="center">
    <div class="col col-sm-12">
      <b> Si el cliente dice que no está interesado</b>
    </div>
  </div>
  <div class="card-body text-dark">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        Hacer un manejo de objeciones en donde se le mencione al cliente la ventaja de aliviar su flujo de caja al hacer pagos mensuales por un menor o mayor valor.
      </li>
      <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        Recordarle al cliente que un rediferido no implica una deuda adicional sino que es la oportunidad de hacer menores pagos sobre la deuda actual.
      </li>
      <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        Recordarle al cliente que puede hacer el pago total o abonos extraordinarios en cualquier momento sin ningún tipo de penalización.
      </li>
      <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        Recordarle al cliente que aunque la tasa de interés es mayor a la del mes pasado; corresponde a la tasa promedio del último año; y adicionalmente la diferencia en intereses es sólo de 100 pesos por millón y a cambio recibirá como beneficio una cuota más cómoda que le permitirá mejorar su flujo de caja.
      </li>
    </ul>
  </div>
</div>
<!--END SIN INTERES-->
<!--CON INTERES-->
<div *ngIf="acuerdo == 1" class="card border-primary ms-12 mt-2" >
  <div class="card-header" align="center">
    <div class="col col-sm-12">
      <b> Si el cliente dice que está interesado</b>
    </div>
  </div>
  <div class="card-body text-dark">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        Señor(a): <strong>CARLOS EMILIO PONCE CABALLERO</strong> A qué plazo le gustaría que se difieran automáticamente sus compras nacionales? puede ser desde 12 hasta 36 meses (Seleccionar en el plugin)
      </li>
      <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        Señor(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> le confirmo que la novedad quedará efectiva en 3 días hábiles a partir de la fecha. Por favor tenga en cuenta que si en el futuro desea que alguna de sus compras nacionales sea diferida a un plazo diferente al que acaba de mencionar, debe comunicarse con nuestro call center a desactivar la inscripción del diferido automático.  </li>
      <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        Señor(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> le confirmo que la novedad quedará efectiva en 3 días hábiles a partir de la fecha.
      </li>
    </ul>
  </div>
</div>
<!--END CON INTERES-->
<!--END ACUERDO CLIENTE-->
