<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<div class="row">
	<div class="col-12">
		<div class="card border-primary mb-3">
	  		<div class="card-header">
	  			Oferta Inicial
	  		</div>
		  	<div class="card-body text-primary">
		    	<h5 class="card-title">Saludo</h5>
				<p class="card-text">Buenos días/ tardes. Estoy comunicado con el señor(a) CARLOS ALBEIRO DAVILA RAMIREZ. Mi nombre es ANDRES ALZATE lo estoy 		llamando en nombre del Banco Davivienda.

					Por su excelente comportamiento en el sector financiero, Davivienda el día de hoy le quiere ofrecer una tasa preferencial del XX% MV (valide la oferta que aplica para el cliente en cada una de sus tarjetas, y menciónele la más alta, en caso de contar con distintas opciones, para que la tasa más baja sea usada como manejo de objeción), para comprar las deudas de tarjeta de crédito VISA Y MASTERCARD que tenga con otras entidades financieras.
					Con esta tasa usted se estaría ahorrando aproximadamente (Ver tabla) por cada millón de deuda
				</p>
		  	</div>
		</div>	
	</div>
</div>


