<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<!--SCRIP-->
<div class="card card-default">
  <div class="card-header">
    <i class="fa fa-users fa-fw"></i>
    Rediferidos
  </div>
  <!-- /.panel-heading -->
  <div class="card-body">
    <div class="text-center card-header">
      <h5 class="card-title">
        <strong> GUION REDIFERIDOS </strong>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">(CLIENTES TOTALEROS)</h6>
      <div>
      </div>
    </div>
    <div class="card-body">
      <!--TEXTO UNO-->
      <p class="card-text">
        Buenos días/ Tardes, le habla <strong> ANDRES ALZATE </strong> en nombre del Banco Davivienda. ¿Cómo se encuentra el día de hoy?
      </p>
      <p class="card-text">
        El motivo de la llamada es porque por el excelente manejo que usted le ha dado a sus productos, queremos beneficiarlo unificando el saldo de su(s) tarjeta(s) de crédito con un descuento del 30% sobre la tasa vigente de tarjeta de crédito.; es decir rediferir su saldo actual a una tasa preferencial de 1,56%mv; lo que representa un ahorro en intereses anual de $36.400 por cada millón de deuda, teniendo en cuenta que la tasa promedio de los últimos 3 meses fue del 2,25%mv
      </p>
      <p class="card-text">
        Apoyarse en el simulador para decirle con números reales de su pago mínimo si toma el rediferido- Indicarle al cliente ejemplos con rediferido de su saldo a 12, 24 y 36 meses) Informarle que las cuotas no son fijas sino aproximadas, es obligatorio aclarar que la primera cuota no incluye intereses, estos serán cobrados en la segunda cuota. Revisar valores de la primera y segunda cuota en el simulador.
      </p>
      <!--END TEXT0 UNO-->
      <!--CUADRO SIMULADOR-->
      <div class="mx-2 pt-3">
        <!--BORDE CUADRO-->
        <div class="card border-primary" >
          <div class="card-header bg-transparent border-primary"> <strong> Calculo de Cuotas</strong></div>
          <!--VALORES DE VALIDACION-->
          <div class="alert alert-success" *ngIf="valor">
            Valor a refinanciar <strong class="pl-2">$ {{valor | number}}</strong>, diferido en  <strong>{{cuotas}} Cuotas</strong>
          </div>
          <div class="alert alert-danger" *ngIf="cuotas && cuotas <= 1 || cuotas >= 37">
            No hay rango para las cuotas a diferir, seleccione un valor valido
          </div>
          <div class="alert alert-danger" *ngIf="show_alert_simulator">
            Complete los campos del Formulario
          </div>
          <!--END VALORES DE VALIDACION-->
          <div class="card-body text-primary">
            <!--FORMULARIO DEL CUADRO-->
            <form #simulatorForm="ngForm" (ngSubmit)="simulator()">
              <div class="form-row">
                <div class="col-4 pt-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <p class="mr-2"><strong>Valor a Refinanciar</strong></p>
                      <span class="input-group-text">$</span>
                    </div>
                    <input [(ngModel)]="valor" name="valor" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
                <div class="col-4 pt-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <p class="mr-2"><strong>Cuotas a Diferir</strong></p>
                    </div>
                    <select [(ngModel)]="cuotas" name="cuotas" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
                      <option value=2>2</option>
                      <option value=3>3</option>
                      <option value=4>4</option>
                      <option value=5>5</option>
                      <option value=6>6</option>
                      <option value=7>7</option>
                      <option value=8>8</option>
                      <option value=9>9</option>
                      <option value=10>10</option>
                      <option value=11>11</option>
                      <option value=12>12</option>
                      <option value=13>13</option>
                      <option value=14>14</option>
                    </select>
                  </div>
                </div>
                <div class="col-4 pt-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <p class="mr-2"> <strong>Tasa</strong></p>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{tasa}}" readonly>
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="col col-sm-12 pt-3" align="center">
                  <input type="submit" class="btn btn-primary" value="Very Go">
                </div>
              </div>
            </form>
            <!--END FORMULARIO DEL CUADRO-->
            <!--TABLA RESULTADO CUADRO SIMULADOR-->
            <div class="mt-2 card-footer bg-transparent border-primary">
              <div class="table-responsive">
                <table style="color: #2e6da4" class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Cuota</th>
                    <th>Saldo</th>
                    <th>Abono Capital</th>
                    <th>Abono Interes</th>
                    <th>Pago Minimo</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of data_simulator_array">
                    <th scope="row">{{data._id}}</th>
                    <td>{{data.saldo | number}}</td>
                    <td>{{data.abono_capital | number}}</td>
                    <td>{{data.abono_intereses | number}}</td>
                    <td>{{data.pago_minimo | number}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--END TABLA RESULTADO CUADRO SIMULADOR-->
          </div>
        </div>
        <!--END BORDE CUADRO-->
      </div>
      <!--END CUADRO SIMULADOR-->
      <!--IMAGENES -->
      <div class="mx-2 pt-3" align="center">
        <img class="col col-sm-12" src="assets/campains/rediferidos/informacion_1.jpg" />
        <img class="col col-sm-6 pt-2" src="assets/campains/rediferidos/informacion_2.jpg" />
      </div>
      <!--END IMAGENES -->
      <!--ARBOL DE DECICIONES-->
      <div class="card border-dark ms-12 mt-2" >
        <div class="card-header" align="center">
          <div class="col col-sm-12">
            ¿Sr(a) <strong> CAROLINA AREVALO RODRIGUEZ </strong> se encuentra usted interesado en esta oferta?
          </div>
          <div class="col col-sm-4 pt-2">
            <select [(ngModel)]="continue_first" name="continue" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
              <option value=0>¿Se encuentra interesado?</option>
              <option value=1>Si</option>
              <option value=2>No</option>
            </select>
          </div>
        </div>
        <div *ngIf="continue_first == 1" class="card-body text-dark" align="center">
          <p class="card-text">
            Sr(a) <strong>CAROLINA AREVALO RODRIGUEZ</strong> si usted cuenta con un pago mínimo pendiente por pagar es posible aplicar el rediferido a su tarjeta de crédito pero los valores que están pendientes por cubrir, como intereses corrientes y cobros administrativos (como la cuota de manejo), deben ser unificados al saldo total a rediferir; es decir, es necesario hacer una capitalización de los intereses corrientes antes mencionados.
          </p>
          <div class="col col-sm-4 pt-2">
            <p><strong>¿Está usted de acuerdo?</strong></p>
            <select [(ngModel)]="continue_second" name="continue" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
              <option value=0>¿Esta de acuerdo?</option>
              <option value=1>Si</option>
              <option value=2>No</option>
            </select>
          </div>
        </div>
        <div *ngIf="continue_second == 1 && continue_first == 1" class="card-footer bg-transparent border-dark" >
          <div class="col col-sm-12 pt-3" align="center">
            Sr(a) <strong>CAROLINA AREVALO RODRIGUEZ</strong> si usted cuenta con un pago mínimo pendiente por pagar es posible aplicar el rediferido a su tarjeta de crédito pero los valores que están pendientes por cubrir, como intereses corrientes y cobros administrativos (como la cuota de manejo), deben ser unificados al saldo total a rediferir; es decir, es necesario hacer una capitalización de los intereses corrientes antes mencionados.
          </div>
          <div class="row">
            <div class="col-6 pt-3">
              <table class="table">
                <tbody>
                <tr>
                  <th class="table-secondary" scope="row">Ultimos Digitos</th>
                  <td>1234</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Fecha Vencimiento</th>
                  <td>-</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Tipo Tarjeta</th>
                  <td>DINERS PREMIUM</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Fecha Corte</th>
                  <td>2018-07-13</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Ciclo Facturacion</th>
                  <td>34</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Pago Minimo</th>
                  <td>$0</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Fecha Ultima Actualizacion</th>
                  <td>0000-00-00</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Franquicia</th>
                  <td>Diners</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Cupo</th>
                  <td>$0</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Saldo Pesos</th>
                  <td>$324,900</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Saldo Dolares	</th>
                  <td>$0</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Fecha Pago</th>
                  <td>2017-07-03</td>
                </tr>
                <tr>
                  <th class="table-secondary" scope="row">Valor Ultimo Pago</th>
                  <td>$secondary</tr>
                </tbody>
              </table>
            </div>
            <div class="col-6 pt-3">
              <p-accordion>
                <p-accordionTab header="Rediferido Pesos" [selected]="true">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Meses</h6>
                      <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                    </div>
                  </div>
                </p-accordionTab>
                <p-accordionTab header="Rediferido Dolares">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Meses</h6>
                      <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                    </div>
                  </div>
                </p-accordionTab>
                <p-accordionTab header="Promocion Todo A">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Meses</h6>
                      <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
              <hr>
            </div>
            <hr>
          </div>
          <!--VALIDA DOCUMENTO-->
          <div  class="card border-dark ms-12 mt-2" >
            <div class="card-header" align="center">
              <div class="col col-sm-12">
                <strong>VALIDACION DE DOCUMENTO</strong>
              </div>
              <div class="col col-sm-4 pt-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <p class="mr-2"> <strong>Cedula</strong></p>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">868</span>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">(XXXX)</span>
                  </div>
                  <input placeholder="XXXX" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
              </div>
            </div>
          </div>
          <!--END VALIDA DOCUMENTO-->
          <!--PLANILLA-->
          <div class="card border-dark ms-12 mt-2" >
            <div class="card-header" align="center">
              <div class="col col-sm-12">
                Diligenciar en la planilla el plazo indicado por el cliente.
              </div>
            </div>
            <div class="card-body text-dark">
              <p class="card-text">
                Sr(a) <strong> CARLOS EMILIO PONCE CABALLERO</strong> también es importante recordarle que al momento de hacer este rediferido, si usted tenía alguna tasa especial en alguna UTILIZACIÓN de su tarjeta de crédito esta será eliminada. Todo su saldo quedará a la tasa vigente del día, que es 1,58%
              </p>
              <p class="card-text">
                De acuerdo Sr(a) <strong> CARLOS EMILIO PONCE CABALLERO</strong>, le confirmo que en el transcurso de los siguientes 3 días hábiles verá reflejado el rediferido en su tarjeta; esta solicitud se toma en este momento para la tarjeta de crédito terminada en _ _ _ _ a _ _ cuotas y es un proceso que después de tomado no es posible reversar. Recuerde que su próximo valor a pagar es ______ aproximadamente.
              </p>
            </div>
            <hr>
            <div class="card-header" align="center">
              <div class="col col-sm-12">
                <strong>OFERTA OBLIGATORIA</strong>
              </div>
            </div>
            <div align="center" class="card-body text-dark">
              <p class="card-text">
                Sr(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> adicional al rediferido aplicado a su tarjeta de crédito le gustaría que todas sus compras nacionales se difieran a un plazo automático que usted elija desde 12 hasta 36 meses? Este beneficio le va permitir mantener organizado su flujo de caja con anticipación.
              </p>
              <div class="col col-sm-4 pt-2">
                <p class="card-title"><b>¿Está usted de acuerdo?</b></p>
                <select [(ngModel)]="continue_tree" name="continue_tree" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
                  <option value=0>¿Esta Interesado?</option>
                  <option value=1>Si</option>
                  <option value=2>No</option>
                </select>
              </div>
            </div>
          </div>
          <!--END PLANILLA-->
          <!--ACUERDO CLIENTE-->
          <!--SIN INTERES-->
          <div *ngIf="continue_tree != 1" class="card border-dark ms-12 mt-2" >
            <div class="card-header" align="center">
              <div class="col col-sm-12">
                <b> Si el cliente dice que no está interesado</b>
              </div>
            </div>
            <div class="card-body text-dark">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                  Hacer un manejo de objeciones en donde se le mencione al cliente la ventaja de aliviar su flujo de caja al hacer pagos mensuales por un menor o mayor valor.
                </li>
                <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                  Recordarle al cliente que un rediferido no implica una deuda adicional sino que es la oportunidad de hacer menores pagos sobre la deuda actual.
                </li>
                <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                  Recordarle al cliente que puede hacer el pago total o abonos extraordinarios en cualquier momento sin ningún tipo de penalización.
                </li>
                <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                  Recordarle al cliente que aunque la tasa de interés es mayor a la del mes pasado; corresponde a la tasa promedio del último año; y adicionalmente la diferencia en intereses es sólo de 100 pesos por millón y a cambio recibirá como beneficio una cuota más cómoda que le permitirá mejorar su flujo de caja.
                </li>
              </ul>
            </div>
          </div>
          <!--END SIN INTERES-->
          <!--CON INTERES-->
          <div *ngIf="continue_tree == 1 && continue_second == 1 && continue_tree == 1" class="card border-dark ms-12 mt-2" >
            <div class="card-header" align="center">
              <div class="col col-sm-12">
                <b> Si el cliente dice que está interesado</b>
              </div>
            </div>
            <div class="card-body text-dark">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                  Señor(a): <strong>CARLOS EMILIO PONCE CABALLERO</strong> A qué plazo le gustaría que se difieran automáticamente sus compras nacionales? puede ser desde 12 hasta 36 meses (Seleccionar en el plugin)
                </li>
                <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                  Señor(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> le confirmo que la novedad quedará efectiva en 3 días hábiles a partir de la fecha. Por favor tenga en cuenta que si en el futuro desea que alguna de sus compras nacionales sea diferida a un plazo diferente al que acaba de mencionar, debe comunicarse con nuestro call center a desactivar la inscripción del diferido automático.  </li>
                <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                  Señor(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> le confirmo que la novedad quedará efectiva en 3 días hábiles a partir de la fecha.
                </li>
              </ul>
            </div>
          </div>
          <!--END CON INTERES-->
          <!--END ACUERDO CLIENTE-->
        </div>
      </div>
      <!--END ARBOL DE DECICIONES-->
      <!--ENCUESTA-->
      <div *ngIf="continue_first != 0" class="card border-dark ms-12 mt-2" >
        <div class="card-header" align="center">
          <div class="col col-sm-12">
            <strong>ENCUESTA</strong>
          </div>
          <div class="col col-sm-4 pt-2">
            <select [(ngModel)]="contestar_encuesta" name="contestar_encuesta" name="continue" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
              <option value=0>¿Contestar Encuesta?</option>
              <option value=1>Si</option>
              <option value=2>No</option>
            </select>
          </div>
        </div>
        <div *ngIf="contestar_encuesta == 1" class="card-body text-dark">
          <h5 class="card-title">Dark Panel title</h5>
          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
        </div>
      </div>
      <!--END ENCUESTA-->
      <!--OPCION DE COMPRA-->
      <div  class="card border-dark ms-12 mt-2" >
        <div class="card-header" align="center">
          <div class="col col-sm-12">
            <strong>OPCION DE COMPRA</strong>
          </div>
          <div class="col col-sm-4 pt-2">
            <select name="opcion_compra" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
              <option value=''></option>
              <option value='Cartera'>Realizar Compra de Cartera</option>
              <option value='NoCartera'>No tiene compra de cartera</option>
            </select>
          </div>
        </div>
      </div>
      <!--END OPCION DE COMPRA-->
    </div>
  </div>
</div>

