<div class="row">
  <div class="col-md-10">
    <p-scrollPanel [style]="{width: '100%', height: '120px'}">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">TMK_id</th>
          <th scope="col">Consumidor</th>
          <th scope="col">Etapa</th>
          <th scope="col">Base</th>
          <th scope="col">Usuario</th>
          <th scope="col">Fecha_telemercadeo</th>
          <th scope="col">Grupo_causal</th>
          <th scope="col">Causal_tmk</th>
          <th scope="col">Telefono</th>
          <th scope="col">Observaciones|</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>12345678</td>
          <td>12345</td>
          <td>Etapa</td>
          <td>Base_Davivienda_01234568_C4</td>
          <td>12345</td>
          <td>1234-56-78 12:34:56</td>
          <td>string</td>
          <td>string</td>
          <td>123456789</td>
          <td>observaciones</td>
        </tr>
        </tbody>
      </table>
    </p-scrollPanel>
  </div>
</div>
