<p-toast></p-toast>
<div class="login-page" [@routerTransition]>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <div class="container center">
        <div class="row justify-content-sm-center">
            <div class="col-md-5 col-sm-12">
                <div class="border-radius panel panel-default">
                    <div class="panel-body">
                        <div style="margin: 0% 8%">
                            <button type="button" style="background: #4567B2; color: white; border-radius: 10px;" class="rounded-4 btn btn-block"><i class="fa fa-facebook" aria-hidden="true"></i> Iniciar sesión con Facebook</button>
                            <button style="color: #8C8C8C; border-radius: 10px;" type="button" class="rounded-4 btn btn-default  btn-block mt-4"><i class="fa fa-google" aria-hidden="true"></i> Iniciar sesión con Google</button>
                            <div class="mt-4">
                                <hr>
                            </div>
                            <br>
                            <form style="background: white;" #loginForm="ngForm" role="form" >
                                <div class="form-content">
                                    <div class="form-group">
                                        <input  maxlength="50" style="color: #cccccc" type="email" #username="ngModel" [(ngModel)]="user.username"  placeholder="Direccion de correo electronico" name="email" required="">
                                    </div>
                                    <div class="form-group">
                                        <input  maxlength="20" type="password" #password="ngModel" [(ngModel)]="user.password"   placeholder="{{ 'Password' | translate }}" name="pass" required="">
                                    </div>
                                    <div class="form-group">
                                        <div class="remind ">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                <span style="color: #8C8C8C; font-weight: normal; font-size: 90%" > Recordarme</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button style="background: #6BA973; color: white;  border-radius: 10px;" (click)="onSubmit()" type="button" class="btn btn-block"> Iniciar sesión</button>
                                </div>
                                <div class="mt-4">
                                   <a href="#"> <p class="text-center" style="color: #6BA973">¿olvidaste tu contraseña?</p> </a>
                                   <a href="#"> <p class="text-center" style="color: #8C8C8C">¿No tienes cuenta? <span style="color: #6BA973">Registrate</span></p></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

