<div class="row">
  <div class="col-md-10">
    <p-scrollPanel [style]="{width: '100%', height: '120px'}">
      <table class="table">
        <thead>
        <tr>
          <div align="center">
            <th scope="col">E-mail</th>
          </div>
          <th scope="col">Estado</th>
          <th scope="col">(-)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div align="center">
              example@example.exp
            </div>
          </td>
          <td>Aprobado</td>
          <td><i style="color: red;" class="fa fa-ban fa-lg" aria-hidden="true"></i></td>
        </tr>
        </tbody>
      </table>
    </p-scrollPanel>
  </div>
</div>
