<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<!--SCRIP-->
<div class="card card-default">
  <div class="card-header">
    <i class="fa fa-users fa-fw"></i>
    Rediferidos
  </div>
  <!-- /.panel-heading -->
  <div class="card-body">
    <div class="text-center card-header">
      <h5 class="card-title">
        <strong> GUION REDIFERIDOS </strong>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">(CLIENTES TOTALEROS)</h6>
      <div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        Buenos días/ Tardes, le habla <strong> ANDRES ALZATE </strong> en nombre del Banco Davivienda. ¿Cómo se encuentra el día de hoy?
      </p>
      <p class="card-text">
        El motivo de la llamada es porque por el excelente manejo que usted le ha dado a sus productos, queremos beneficiarlo unificando el saldo de su(s) tarjeta(s) de crédito con un descuento del 30% sobre la tasa vigente de tarjeta de crédito.; es decir rediferir su saldo actual a una tasa preferencial de 1,56%mv; lo que representa un ahorro en intereses anual de $36.400 por cada millón de deuda, teniendo en cuenta que la tasa promedio de los últimos 3 meses fue del 2,25%mv
      </p>
      <p class="card-text">
        Apoyarse en el simulador para decirle con números reales de su pago mínimo si toma el rediferido- Indicarle al cliente ejemplos con rediferido de su saldo a 12, 24 y 36 meses) Informarle que las cuotas no son fijas sino aproximadas, es obligatorio aclarar que la primera cuota no incluye intereses, estos serán cobrados en la segunda cuota. Revisar valores de la primera y segunda cuota en el simulador.
      </p>
      <div class="mx-2 pt-3">
        <div class="card border-primary" >
          <div class="card-header bg-transparent border-primary"> <strong> Calculo de Cuotas</strong></div>
          <div class="alert alert-success" *ngIf="valor">
           Valor a refinanciar <strong class="pl-2">$ {{valor | number}}</strong>, diferido en  <strong>{{cuotas}} Cuotas</strong>
          </div>
          <div class="alert alert-danger" *ngIf="cuotas && cuotas <= 1 || cuotas >= 37">
            No hay rango para las cuotas a diferir, seleccione un valor valido
          </div>
          <div class="alert alert-danger" *ngIf="show_alert_simulator">
            Complete los campos del Formulario
          </div>
          <div class="card-body text-primary">
            <form #simulatorForm="ngForm" (ngSubmit)="simulator()">
              <div class="form-row">
                <div class="col-4 pt-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <p class="mr-2"><strong>Valor a Refinanciar</strong></p>
                      <span class="input-group-text">$</span>
                    </div>
                    <input [(ngModel)]="valor" name="valor" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
                <div class="col-4 pt-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <p class="mr-2"><strong>Cuotas a Diferir</strong></p>
                    </div>
                    <input [(ngModel)]="cuotas" name="cuotas" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" list="listacuotas" >
                    <datalist id="listacuotas">
                      <option value="2">
                      <option value="3">
                      <option value="4">
                    </datalist>
                  </div>
                </div>
                <div class="col-4 pt-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <p class="mr-2"> <strong>Tasa</strong></p>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{tasa}}" readonly>
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="col col-sm-12 pt-3" align="center">
                  <input type="submit" class="btn btn-primary" value="Very Go">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

