<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<!--SCRIP-->
<div class="chat-panel card card-default">
  <div class="card-header">
    <i class="fa fa-users fa-fw"></i>
    Rediferidos
  </div>
  <!-- /.panel-heading -->
  <div class="card-body">
    <ul class="chat">
      <li class="left clearfix">
        <div class="chat-body clearfix">
          <p>
            Buenos días/ Tardes, le habla ANDRES ALZATE en nombre del Banco Davivienda. ¿Cómo se encuentra el día de hoy?
          </p>
        </div>
      </li>
    </ul>
  </div>

</div>

