<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<div class="row">
	<div class="col-12">
		<div class="card border-primary mb-3">
	  		<div class="card-header">
	  			Validación
	  		</div>
		  	<div class="card-body text-dark">
		    	<h5 class="card-title"></h5>
				<p class="mb-4">Diligenciar todos los datos necesarios que suministra el cliente para el completo diligenciamiento de la planilla.</p>

					<p class="mb-4 card-text">Señor le confirmo el proceso de la compra de cartera: </p>

						<ul>
							<li>
								En 3 días hábiles usted verá reflejado en su tarjeta de crédito Davivienda la transacción de la compra de cartera, es decir, se hará uso del disponible de su tarjeta de crédito. Recibirá un SMS al celular que tenga registrado con nosotros, confirmando la aplicación de la transacción. Davivienda girará directamente a su Banco este dinero para que ellos apliquen la compra de cartera, este proceso tarda aproximadamente 7 días hábiles, sin embargo el tiempo depende de cada Banco receptor.	
							</li>
							<li>
								Es importante que pasados los 7 días hábiles confirme con su otro Banco que la compra de cartera se haya procesado.		
							</li>
							<li>
								En caso de que utilice su TDC de otra entidad posterior a esta transacción, estas utilizaciones no se incluyen dentro del saldo a comprar. 		
							</li>
							<li>
								Si se realiza una rexpedición, renovación o reposición de su tarjeta de crédito Davivienda antes de aplicar la compra cartera en su obligación, la misma quedará aplicada sobre el nuevo número de obligación.
							</li>

						</ul>
	
					<p class="mb-4">Informar que si durante el proceso de la compra se genera el pago mínimo en la otra entidad el cliente debe realizar el respectivo pago para evitar moras y el rechazo de la solicitud. </p>

					<p class="mb-4">La compra de cartera puede salir rechazada por los siguientes motivos: </p>

					<ul>
						<li>
							La TDC Davivienda ya no cuenta con el disponible	
						</li>
						<li>
							Mora en productos Davivienda	
						</li>
						<li>
							No. Productos errados (sector o davivienda)	
						</li>

					</ul>
					<p class="mb-4">Informar al cliente que la campaña telefónica tiene una vigencia hasta el 19 de noviembre </p>
		  	</div>
		</div>	
	</div>
</div>

