<div class="row">
  <div class="col-md-10">
    <p-scrollPanel [style]="{width: '100%', height: '120px'}">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Ciudad</th>
          <th scope="col">Direccion</th>
          <th scope="col">Barrio</th>
          <th scope="col">Estado</th>
          <th scope="col">(-)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Bogota</td>
          <td>Cll 1 # 1 - 1</td>
          <td>Bogota</td>
          <td>Aprobado</td>
          <td><i style="color: red;" class="fa fa-ban fa-lg" aria-hidden="true"></i></td>
        </tr>
        </tbody>
      </table>
    </p-scrollPanel>
  </div>
</div>
