<div class="row">
  <div class="col-md-10">
    <table class="col-md-12 table table-sm">
      <tbody>
      <tr class="table-active">
        <th scope="row">Telemercadeo</th>
        <td>3707817</td>
        <th scope="row">Base</th>
        <td>Davivienda_Compra_Cartera_20190110_1</td>
      </tr>
      <tr>
        <th scope="row">Estado</th>
        <td>Activo</td>
        <th scope="row">Nombre</th>
        <td>JOSE LEONARDO ROJAS ANAYA</td>
      </tr>
      <tr class="table-active">
        <th scope="row">Consumidor</th>
        <td>2067745</td>
        <th scope="row">Asesor</th>
        <td>Ismael</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
