<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>
<div class="card card-default">
  <div class="card-header">
    <i class="fa fa-users fa-fw"></i>
    Rediferidos
  </div>
  <!-- /.panel-heading -->
  <div class="card-body">
    <!--TEXTO INTRODUCTORIO-->
    <app-texto-inicial></app-texto-inicial>
    <!--CUADRO SIMULADOR-->
    <app-simulador-redeferidos></app-simulador-redeferidos>
    <!--IMAGENES -->
    <div class="mx-2 pt-3" align="center">
      <img class="col col-sm-12" src="assets/campains/rediferidos/informacion_1.jpg" />
      <img class="col col-sm-6 pt-2" src="assets/campains/rediferidos/informacion_2.jpg" />
    </div>
    <!--ARBOL DE DECICIONES-->
    <div class="card border-primary ms-12 mt-2" >
      <div class="card-header" align="center">
        <div class="col col-sm-12">
          ¿Sr(a) <strong> CAROLINA AREVALO RODRIGUEZ </strong> se encuentra usted interesado en esta oferta?
        </div>
        <div class="col col-sm-4 pt-2">
          <select [(ngModel)]="continue_first" name="continue" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
            <option value=0>¿Se encuentra interesado?</option>
            <option value=1>Si</option>
            <option value=2>No</option>
          </select>
        </div>
      </div>
      <div *ngIf="continue_first == 1" class="card-body text-dark" align="center">
        <p class="card-text">
          Sr(a) <strong>CAROLINA AREVALO RODRIGUEZ</strong> si usted cuenta con un pago mínimo pendiente por pagar es posible aplicar el rediferido a su tarjeta de crédito pero los valores que están pendientes por cubrir, como intereses corrientes y cobros administrativos (como la cuota de manejo), deben ser unificados al saldo total a rediferir; es decir, es necesario hacer una capitalización de los intereses corrientes antes mencionados.
        </p>
        <div class="col col-sm-4 pt-2">
          <p><strong>¿Está usted de acuerdo?</strong></p>
          <select [(ngModel)]="continue_second" name="continue" type="number" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
            <option value=0>¿Esta de acuerdo?</option>
            <option value=1>Si</option>
            <option value=2>No</option>
          </select>
        </div>
      </div>
      <div *ngIf="continue_second == 1 && continue_first == 1" class="card-footer bg-transparent border-primary" >
        <div class="col col-sm-12 pt-3" align="center">
          Sr(a) <strong>CAROLINA AREVALO RODRIGUEZ</strong> si usted cuenta con un pago mínimo pendiente por pagar es posible aplicar el rediferido a su tarjeta de crédito pero los valores que están pendientes por cubrir, como intereses corrientes y cobros administrativos (como la cuota de manejo), deben ser unificados al saldo total a rediferir; es decir, es necesario hacer una capitalización de los intereses corrientes antes mencionados.
        </div>
        <!--PLUGIN TARJETAS-->
        <app-plugin-tarjetas></app-plugin-tarjetas>
        <!--VALIDA DOCUMENTO-->
        <app-validacion></app-validacion>
        <!--PLANILLA-->
        <app-planilla-cliente></app-planilla-cliente>
        <!--ACUERDO CLIENTE-->
        <!--SIN INTERES-->
        <div *ngIf="continue_tree != 1" class="card border-primary ms-12 mt-2" >
          <div class="card-header" align="center">
            <div class="col col-sm-12">
              <b> Si el cliente dice que no está interesado</b>
            </div>
          </div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                Hacer un manejo de objeciones en donde se le mencione al cliente la ventaja de aliviar su flujo de caja al hacer pagos mensuales por un menor o mayor valor.
              </li>
              <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                Recordarle al cliente que un rediferido no implica una deuda adicional sino que es la oportunidad de hacer menores pagos sobre la deuda actual.
              </li>
              <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                Recordarle al cliente que puede hacer el pago total o abonos extraordinarios en cualquier momento sin ningún tipo de penalización.
              </li>
              <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                Recordarle al cliente que aunque la tasa de interés es mayor a la del mes pasado; corresponde a la tasa promedio del último año; y adicionalmente la diferencia en intereses es sólo de 100 pesos por millón y a cambio recibirá como beneficio una cuota más cómoda que le permitirá mejorar su flujo de caja.
              </li>
            </ul>
          </div>
        </div>
        <!--END SIN INTERES-->
        <!--CON INTERES-->
        <div *ngIf="continue_tree == 1 && continue_second == 1 && continue_tree == 1" class="card border-primary ms-12 mt-2" >
          <div class="card-header" align="center">
            <div class="col col-sm-12">
              <b> Si el cliente dice que está interesado</b>
            </div>
          </div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                Señor(a): <strong>CARLOS EMILIO PONCE CABALLERO</strong> A qué plazo le gustaría que se difieran automáticamente sus compras nacionales? puede ser desde 12 hasta 36 meses (Seleccionar en el plugin)
              </li>
              <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                Señor(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> le confirmo que la novedad quedará efectiva en 3 días hábiles a partir de la fecha. Por favor tenga en cuenta que si en el futuro desea que alguna de sus compras nacionales sea diferida a un plazo diferente al que acaba de mencionar, debe comunicarse con nuestro call center a desactivar la inscripción del diferido automático.  </li>
              <li class="list-group-item"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
                Señor(a) <strong>CARLOS EMILIO PONCE CABALLERO</strong> le confirmo que la novedad quedará efectiva en 3 días hábiles a partir de la fecha.
              </li>
            </ul>
          </div>
        </div>
        <!--END CON INTERES-->
        <!--END ACUERDO CLIENTE-->
      </div>
    </div>
    <!--END ARBOL DE DECICIONES-->
    <!--ENCUESTA-->
    <div *ngIf="continue_first != 0" class="ms-12 mt-2" >
      <app-encuesta></app-encuesta>
    </div>
    <!--END ENCUESTA-->
    <!--OPCION DE COMPRA-->
    <div  class="card border-primary ms-12 mt-2" >
      <div class="card-header" align="center">
        <div class="col col-sm-12">
          <strong>OPCION DE COMPRA</strong>
        </div>
        <div class="col col-sm-4 pt-2">
          <select name="opcion_compra" class="form-control custom-select" aria-label="Amount (to the nearest dollar)">
            <option value=''></option>
            <option value='Cartera'>Realizar Compra de Cartera</option>
            <option value='NoCartera'>No tiene compra de cartera</option>
          </select>
        </div>
      </div>
    </div>
    <!--END OPCION DE COMPRA-->

  </div>
</div>

