<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<div class="row">
	<div class="col-12">
		<div class="card border-primary mb-3" >
			<div class="card-header">
				Simulador Compra Cartera
			</div>
			<div class="card-body">
				<div class="row">
					<!-- Entrada datos Davivienda  -->
					<div class="col-5">
						<div class="input-group input-group-sm mb-3">
	  						<div class="input-group-prepend">
	    						<span class="input-group-text" id="inputGroup-sizing-sm-cliente-interes">Interes (%)</span>
	  						</div>
	  						<input [(ngModel)]="interesDavi" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm-cliente-interes" (input) = "onInputFunction()">
						</div>

						<div class="input-group mb-3">
	  						<div class="input-group-prepend">
	    						<label class="input-group-text" for="inputGroupSelect01-cliente">Cuotas</label>
	  						</div>
							<select [(ngModel)]="totalCuotasDavi" class="custom-select" id="inputGroupSelect01-cliente" (input) = "onInputFunction()">
							    <option value=1>1</option>
							    <option value=2>2</option>
							    <option value=3>3</option>
							</select>
						</div>
						<div class="input-group input-group-sm mb-3">
	  						<div class="input-group-prepend">
	    						<span class="input-group-text" id="inputGroup-sizing-sm-cliente-saldo">Saldo</span>
	  						</div>
	  						<input [(ngModel)]="totalSaldo" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" (input) = "onInputFunction()">
	  					</div>		
					</div>
					
					<!-- Entrada datos Otra entidad -->		
					<div class="col-5">
						<div class="input-group input-group-sm mb-3">
	  						<div class="input-group-prepend">
	    						<span class="input-group-text" id="inputGroup-sizing-sm-otro-interes">Interes (%)</span>
	  						</div>
	  						<input [(ngModel)]="interesOtra" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm-otro-interes" (input) = "onInputFunction()">
						</div>

						<div class="input-group mb-3">
	  						<div class="input-group-prepend">
	    						<label class="input-group-text" for="inputGroupSelect01">Cuotas</label>
	  						</div>
							<select [(ngModel)]="totalCuotasOtra" class="custom-select" id="inputGroupSelect01-otro">
							    <option value=1>1</option>
							    <option value=2>2</option>
							    <option value=3>3</option>
							</select>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary" (click) = "showHiddenTable()"> Consultar </button>
			</div>
		</div>
	</div>	
</div>

<div class="row" *ngIf=showTableDavi>
	<div class="col-12">
		<table class="table table-striped table-dark">
			<thead>
				<h4>Tabla Amortización</h4>
				<tr>
					<th scope="col">Cuota</th>
					<th scope="col">Saldo</th>
					<th scope="col">Abono capital</th>
					<th scope="col">Abono Intereses</th>
					<th scope="col">Pago mínimo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
				    <td></td>
				    <td></td>
					<td></td>
				    <td></td>
					<td></td>
				</tr>
				<tr>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				    <td></td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>

