<p-toast [styleClass]="ui-toast-top-center" [style]="{marginTop: '80px'}"></p-toast>

<div class="row">
	<div class="col-12">
		<div class="card border-primary mb-3" >
			<div class="card-header">
				Simulador Compra Cartera
			</div>
			<div class="card-body">
				<div class="row">
					<!-- Entrada datos Davivienda  -->
					<div class="col-5">
						<!-- Captura de interés para davivienda  -->
						<div class="input-group input-group-sm mb-3">
	  						<div class="input-group-prepend">
	    						<span class="input-group-text" id="inputGroup-sizing-sm-cliente-interes">Interes (%)</span>
	  						</div>
	  						<input [(ngModel)]="interesDavi" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm-cliente-interes" (input) = "onInputFunction()">
						</div>
						<!-- Captura de cuotas para las que se desea realizar la consulta -->
						<div class="input-group mb-3">
	  						<div class="input-group-prepend">
	    						<label class="input-group-text" for="inputGroupSelect01-cliente">Cuotas</label>
	  						</div>
							<select [(ngModel)]="cantidadCuotasDavi"  class="custom-select" id="inputGroupSelect01-cliente" (change) = "onInputFunction()">
							    <option *ngFor= "let cuotasSelect of cuotasSelects" value={{cuotasSelect}} >{{cuotasSelect}}</option>
							</select>
						</div>
						<!-- Captura del saldo que se desea comprar -->
						<div class="input-group input-group-sm mb-3">
	  						<div class="input-group-prepend">
	    						<span class="input-group-text" id="inputGroup-sizing-sm-cliente-saldo">Saldo</span>
	  						</div>
	  						<input [(ngModel)]="totalSaldo" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" (input) = "onInputFunction()">
	  					</div>		
					</div>
					
					<!-- Entrada datos Otra entidad -->		
					<div class="col-5">
						<div class="input-group input-group-sm mb-3">
	  						<div class="input-group-prepend">
	    						<span class="input-group-text" id="inputGroup-sizing-sm-otro-interes">Interes (%)</span>
	  						</div>
	  						<input [(ngModel)]="interesOtra" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm-otro-interes" (input) = "onInputFunction()">
						</div>

						<div class="input-group mb-3">
	  						<div class="input-group-prepend">
	    						<label class="input-group-text" for="inputGroupSelect01">Cuotas</label>
	  						</div>
							<select [(ngModel)]="cantidadCuotasOtra" class="custom-select" id="inputGroupSelect01-otro" (change) = "onInputFunction()">
							    <option *ngFor= "let cuotasSelect of cuotasSelects" value={{cuotasSelect}}>{{cuotasSelect}}</option>
							</select>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary" (click) = "showHiddenTable()"> Consultar </button>
			</div>
		</div>
	</div>	
</div>

<div class="card border-primary mt-3 row" *ngIf=showTables>
	<div class="card-header bg-transparent border-success col-12">
		<div class="card-body text-success table-responsive">
			<table class="table table-striped">
				<thead>
					<h4>Tabla Amortización Davivienda</h4>
					<tr>
						<th *ngFor="let campoTabla of camposTablas">{{campoTabla}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let registrosTabla of registrosTablas">
						<td>{{ numeroCuotaDavi[registrosTabla] }}</td>
						<td>{{ saldoDavi[registrosTabla] }}</td>
						<td>{{ abonoCapitalDavi }}</td>
						<td>{{ abonoInteresDavi[registrosTabla] }}</td>
						<td>{{ pagoMinimoDavi[registrosTabla] }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="card border-primary mt-3 row" *ngIf=showTables>
	<div class="card-header bg-transparent border-success col-12">
		<div class="card-body text-success table-responsive">
			<table class="table table-striped">
				<thead>
					<h4>Tabla Amortización Otra Entidad</h4>
					<tr >
						<th *ngFor="let campoTabla of camposTablas">{{campoTabla}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let registrosTabla of registrosTablas">
						<td>{{ numeroCuotaOtra[registrosTabla] }}</td>
						<td>{{ saldoOtra[registrosTabla] }}</td>
						<td>{{ abonoCapitalOtra }}</td>
						<td>{{ abonoInteresOtra[registrosTabla] }}</td>
						<td>{{ pagoMinimoOtra[registrosTabla] }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

