<mat-card class="rb-form-mat-card mt-4">
  <mat-card-header>
    <mat-card-title><h6>Campos Cliente Nuevo</h6></mat-card-title>
  </mat-card-header>
    <div class="row justify-content-md-center">
      <form class="col-12">
          
        <div class="row justify-content-md-center">           
          <mat-form-field class="col-sm-6 col-md-6 mt-md-3">
            <input matInput placeholder="Nombre" required>
          </mat-form-field>
        </div>
        
        <div class="row justify-content-md-center">
          <mat-form-field class="col-sm-6 col-md-6">
            <input matInput placeholder="Documento" required >
          </mat-form-field>
        </div>

        <div class="row justify-content-md-center">
          <mat-form-field class="col-sm-6 col-md-6">
            <input matInput placeholder="Número móvil" required>
          </mat-form-field>
        </div>

        <div class="row justify-content-md-center">           
          <mat-form-field class="col-sm-6 col-md-6 mt-md-3">
            <input matInput placeholder="NIP" required>
          </mat-form-field>
        </div>

        <div class="row justify-content-md-center">
          <button mat-button (click)="changeViewForm()">Guardar</button>
        </div>  
      </form>  
    </div>
</mat-card>