        <nav class="main-menu ">
            <div class="list-group">
            <ul class="nav-menu" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">

                <li *ngFor="let menumain of mainmenu"  class="nav-item">
                        <a href={{menumain.href}}>
                            <i class={{menumain.iclass}} ></i>
                            <span class="nav-text">
                                {{menumain.text_span}}
                            </span>
                        </a>
                    <ul *ngIf="menumain.text_span == 'Telemercadeo' ">
                        <li *ngFor="let menutmk of tmkmenu"  class="nav-item">
                            <a href={{menutmk.href}}>
                                <i class={{menutmk.iclass}} ></i>
                                <span class="nav-text">
                                    {{menutmk.text_span}}
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="menumain.text_span == 'Reportes' ">
                        <li *ngFor="let menureportes of reportesmenu"  class="nav-item">
                            <a href={{menureportes.href}}>
                                <i class={{menureportes.iclass}} ></i>
                                <span class="nav-text">
                                    {{menureportes.text_span}}
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="menumain.text_span == 'BackOffice' ">
                        <li *ngFor="let menubackoffice of backofficemenu"  class="nav-item">
                            <a href={{menubackoffice.href}}>
                                <i class={{menubackoffice.iclass}} ></i>
                                <span class="nav-text">
                                    {{menubackoffice.text_span}}
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="menumain.text_span == 'Administrador' ">
                        <li *ngFor="let menuadmin of adminmenu"  class="nav-item">
                            <a href={{menuadmin.href}}>
                                <i class={{menuadmin.iclass}} ></i>
                                <span class="nav-text">
                                    {{menuadmin.text_span}}
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="menumain.text_span == 'Auditoria' ">
                        <li *ngFor="let menuauditoria of auditoriamenu"  class="nav-item">
                            <a href={{menuauditoria.href}}>
                                <i class={{menuauditoria.iclass}} ></i>
                                <span class="nav-text">
                                    {{menuauditoria.text_span}}
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="menumain.text_span == 'A3bpo' ">
                        <li *ngFor="let menuabpo of abpomenu"  class="nav-item">
                            <a href={{menuabpo.href}}>
                                <i class={{menuabpo.iclass}} ></i>
                                <span class="nav-text">
                                    {{menuabpo.text_span}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
                <ul class="logout">
                    <li>
                        <a  (click)="onLoggedout()">
                            <i class="fa fa-power-off fa-2x"></i>
                                <span class="nav-text">
                                    Salir
                                </span>
                        </a>
                    </li>  
                </ul>
                    
    </nav>        
    
    
