<div [@routerTransition]>
    <app-page-header [heading]="'Búsqueda de Registros'" [icon]="'fa-bar-chart-o'"></app-page-header>

<label>Búsqueda dirigida de registros para telemercadeo</label>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <form class="">
         
          <div class="row justify-content-md-center">           
            <mat-form-field class="col-sm-6 col-md-6">
            <mat-select placeholder="Campaña" [(ngModel)]="selectedCampana" name="campana">
              <mat-option *ngFor="let campana of campanas" [value]="campana.value">
                {{campana.viewValue}}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>

          <div class="row justify-content-md-center">
            <mat-form-field class="col-sm-6 col-md-6">
            <mat-select placeholder="Etapa" [(ngModel)]="selectedEtapa" name="etapa">
              <mat-option *ngFor="let etapa of etapas" [value]="etapa.value">
                {{etapa.viewValue}}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>

          <div class="row justify-content-md-center">
            <mat-form-field>
              <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>
          </div>

          <div class="row justify-content-md-center">
            
              <mat-radio-group [(ngModel)]="labelPosition">
                <mat-radio-button class="example-margin" value="telemercadeo_id">telemercadeo_id</mat-radio-button>
                <mat-radio-button class="example-margin" value="documento">documento</mat-radio-button>
                <mat-radio-button class="example-margin" value="consumidor_id">consumidor_id</mat-radio-button>
              </mat-radio-group> 
            
          </div>
         
          <div class="row justify-content-md-center">
            <button mat-button>Buscar</button>
          </div>  
        </form>
      </div>
      <div class="col-lg-8">
        
      </div>
    </div>
</div>  