<div [@routerTransition]>
    <app-page-header [heading]="'Búsqueda de Registros'" class="busqueda-registro-header"  [icon]="'fa-bar-chart-o'"></app-page-header>
          
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-4 rb-form-mat-card">
              <app-form-search-set></app-form-search-set>
            </div>
          </div>

          <div class="row justify-content-md-center mt-1">
            <div class="col-12 col-md-12">
              <app-table-found-reg></app-table-found-reg>
            </div>
          </div>
</div>  